{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div><a href="{% url 'home' %}">Start Again</a> <a href="{% url 'about' %}">About</a></div>
		<br>
		<h1>The Result</h1>
		<hr>
		<hr>
		<br>
		<h2>Your Text</h2>
		<textarea class="textarea" disabled>{{ fulltext }}</textarea>
	</div>

	<div class="container">
		<h2>Summary</h2>
		<div class="output1 row">

			<div> Total Character : <span id="characterCount">{{ characters }} </span></div>
			<div> Total Sentence : <span id="sentenceCount">{{ sentences }}</span> </div>
		</div>
		<div class="output1 row">
			<div> Total Word : <span id="paragraphCount">{{ count }} </span></div>
			<div> Limited Words : <span id="sentenceCount"> {{ limited }} </span></div>
		</div>
		<div class="output row">
			<div> Positive Words : <span id="paragraphCount">{{ positives }} </span></div>
			<div> Negative Words : <span id="sentenceCount"> {{ negatives }} </span></div>
			<div> Neutral Words : <span id="sentenceCount"> {{ neutral }} </span></div>
		</div>
	</div>



	<div class="container">
		<h2>Word Count</h2>
		<div class="output row">
			{% for k,v in word_counts %}
			<div> <b>{{ k }} </b> = {{ v }}</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
