{% extends "base.html" %}

{% block content %}
	<div class="container">
		<nav><a href="{% url 'about' %}">About</a></nav>
		<br>
		<h1>Word Analyser</h1>


		<form action="{% url 'count' %}">
			<textarea class="linkarea" cols="100" rows="30" name="linktext" placeholder="Enter your link here"></textarea>
			<br> <br>
			<input type="submit" value="Get the link text!"></input>
		</form>

		<br><br><br>

		<form action="{% url 'count' %}">
			<textarea class="textarea" cols="100" rows="30" name="fulltext" placeholder="Enter your text here"></textarea>
			<br> <br>
			<input type="submit" value="Analyse the text!"></input>
		</form>
	</div>

{% endblock %}
